<template>
  <div class="pessoas__edit">
    <h1>Editar pessoa</h1>
    <label>ID</label>
    <p>{{ pessoa.id_pessoa }}</p>
    <br>
    <label>CPF</label>
    <input type="text" v-model="pessoa.cpf"/>
    <br>
    <label>Nome</label>
    <input type="text" v-model="pessoa.nome"/>
    <br>
    <label>Data de nascimento</label>
    <input type="text" v-model="pessoa.nascimento"/>
    <br>
    <button type="submit" @click="edit_pessoa" @submit.prevent>
      Salvar
    </button>
    <nuxt-link to="/pessoas">
      Voltar
    </nuxt-link>
  </div>
</template>

<script>
export default {
  computed: {
    pessoa: function() {
      return this.pessoas[0];
    }
  },
  async asyncData(app) {
    return {
      pessoas: await app.$axios.$get("/pessoas?id_pessoa=eq."+app.query.id_pessoa),
    }
  },
  methods: {
    async edit_pessoa() {
      try {
        let dados = {
          cpf: this.pessoa.cpf,
          nome: this.pessoa.nome,
          nascimento: this.pessoa.nascimento
        };
        await this.$axios.$patch("/pessoas?id_pessoa=eq." + this.pessoa.id_pessoa, dados,
            { headers: { Authorization: 'Bearer ' + this.$store.state.token } }
        );
        this.$router.push("/pessoas");
      } catch (err) {
        console.log(err);
      }
    }
  }
}
</script>

<style lang="scss">
.pessoas__edit {
}
</style>
