<template>
  <div class="pessoas__index">
    <h1>Pessoas</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>CPF</th>
          <th>Nome</th>
          <th>Nascimento</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="pessoa in pessoas" :key="pessoa.id_pessoa">
          <td>
            {{ pessoa.id_pessoa }}
          </td>
          <td>
            {{ pessoa.cpf }}
          </td>
          <td>
            {{ pessoa.nome }}
          </td>
          <td>
            {{ pessoa.nascimento }}
          </td>
          <td>
            <nuxt-link :to="{ path: 'pessoas/show', query: { id_pessoa: pessoa.id_pessoa }}">
              Ver
            </nuxt-link>
            <nuxt-link :to="{ path: 'pessoas/edit', query: { id_pessoa: pessoa.id_pessoa }}">
              Editar
            </nuxt-link>
            <button type="submit" @click="delete_pessoa(pessoa.id_pessoa)" @submit.prevent>
              Remover
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <nuxt-link to="pessoas/new">
      Adicionar
    </nuxt-link>
  </div>
</template>

<script>
export default {
  async asyncData({ app }) {
    return {
      pessoas: await app.$axios.$get("/pessoas"),
    }
  },
  methods: {
    async delete_pessoa(id_pessoa) {
      try {
        await this.$axios.$delete("/pessoas?id_pessoa=eq." + id_pessoa,
            { headers: { Authorization: 'Bearer ' + this.$store.state.token } }
        );
        this.pessoas = await this.$axios.$get("/pessoas");
      } catch (err) {
        console.log(err);
      }
    }
  }
}
</script>

<style lang="scss">
.pessoas__index {
}
</style>
