<template>
  <div class="pessoas__new">
    <h1>Adicionar pessoa</h1>
    <label>CPF</label>
    <input type="text" v-model="cpf"/>
    <br>
    <label>Nome</label>
    <input type="text" v-model="nome"/>
    <br>
    <label>Data de nascimento</label>
    <input type="text" v-model="nascimento"/>
    <br>
    <button type="submit" @click="new_pessoa" @submit.prevent>
      Salvar
    </button>
    <nuxt-link to="/pessoas">
      Voltar
    </nuxt-link>
  </div>
</template>

<script>
export default {
  data() {
    return {
      cpf: '',
      nome: '',
      nascimento: ''
    }
  },
  methods: {
    async new_pessoa() {
      let dados = {
        cpf: this.cpf ,
        nome: this.nome,
        nascimento: this.nascimento
      };
      try {
        await this.$axios.$post("/pessoas", dados,
            { headers: { Authorization: 'Bearer ' + this.$store.state.token } }
        );
        this.$router.push("/pessoas");
      } catch (err) {
        console.log(err);
      }
    }
  }
}
</script>

<style lang="scss">
.pessoas__new {
}
</style>
