<template>
  <div class="pessoas__show">
    <h1>Pessoa</h1>
    <label>CPF</label>
    <p>{{ pessoa.cpf }}</p>
    <br>
    <label>Nome</label>
    <p>{{ pessoa.nome }}</p>
    <br>
    <label>Data de nascimento</label>
    <p>{{ pessoa.nascimento }}</p>
    <br>
    <nuxt-link :to="{ path: 'pessoas/edit', query: { id_pessoa: pessoa.id_pessoa }}">
      Editar
    </nuxt-link>
    <button type="submit" @click="delete_pessoa(pessoa.id_pessoa)" @submit.prevent>
      Remover
    </button>
    <nuxt-link to="/pessoas">
      Voltar
    </nuxt-link>
  </div>
</template>

<script>
export default {
  computed: {
    pessoa: function() {
      return this.pessoas[0];
    }
  },
  async asyncData(app) {
    return {
      pessoas: await app.$axios.$get("/pessoas?id_pessoa=eq."+app.query.id_pessoa),
    }
  },
  methods: {
    async delete_pessoa(id_pessoa) {
      try {
        await this.$axios.$delete("/pessoas?id_pessoa=eq." + id_pessoa,
            { headers: { Authorization: 'Bearer ' + this.$store.state.token } }
        );
        this.$router.push("/pessoas");
      } catch (err) {
        console.log(err);
      }
    }
  }
}
</script>

<style lang="scss">
.pessoas__show {
}
</style>
