<template>
  <div class="administrativo">
    <h1>Administrativo</h1>
    <p>
      <nuxt-link to="/administradores">
        Administradores
      </nuxt-link>
    </p>
    <p>
      <nuxt-link to="/administradores_coordenam_grades">
        Administradores_coordenam_grades
      </nuxt-link>
    </p>
    <p>
      <nuxt-link to="/pessoas">
        Pessoas
      </nuxt-link>
    </p>
    <p>
      <nuxt-link to="/usuarios">
        Usuários
      </nuxt-link>
    </p>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
.administrativo {
}
</style>
