<template>
  <div class="planejamento">
    <h1>Planejamento</h1>
    <div class="obrigatorias">
      <h2>Obrigatórias</h2>
      <div v-for="disciplina of obrigatorias" :key="disciplina.id_disciplina">
        <p :class="status[disciplina.status]">
          {{ disciplina.codigo_disciplina }}<br>
          <small>
            {{ disciplina.nome }}
          </small>
        </p>
        <button type="button" @click="seleciona_obrigatoria(disciplina.id_disciplina)">
          Selecionar
        </button>
      </div>
    </div>
    <div class="eletivas">
      <div v-for="trilha of eletivas" :key="trilha.id_trilha">
        <h2>{{ trilha.codigo_trilha }} - {{ trilha.nome }}</h2>
        <div v-for="modulo of trilha.modulos" :key="modulo.id_modulo">
          <h3>{{ modulo.codigo_modulo }}</h3>
          <div v-for="disciplina of modulo.disciplinas" :key="disciplina.id_disciplina">
            <p :class="status[disciplina.status]">
              {{ disciplina.codigo_disciplina }}<br>
              <small>
                {{ disciplina.nome }}
              </small>
            </p>
            <button type="button" @click="seleciona_eletiva(trilha.id_trilha, modulo.id_modulo, disciplina.id_disciplina)">
              Selecionar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      status: ['status_0', 'status_1', 'status_2']
    }
  },
  computed: {
    obrigatorias: function() {
      let disciplinas = this.disciplinas_obrigatorias;
      let obrigatorias = [];
      disciplinas.forEach(function(element) {
        let aux = {};
        aux.id_disciplina = element.id_disciplina;
        aux.codigo_disciplina = element.codigo_disciplina;
        aux.nome = element.nome;
        aux.status = 0;
        obrigatorias.push(aux);
      });
      return obrigatorias;
    },
    eletivas: function() {
      let trilhas = this.trilhas;
      let modulos = this.modulos;
      let disciplinas = this.disciplinas_eletivas;
      let eletivas = [];
      trilhas.forEach(function(e1) {
        let aux1 = {};
        aux1.id_trilha = e1.id_trilha;
        aux1.codigo_trilha = e1.codigo_trilha;
        aux1.nome = e1.nome;
        aux1.modulos = [];
        modulos.forEach(function(e2) {
          if (e2.id_trilha == e1.id_trilha) {
            let aux2 = {};
            aux2.id_modulo = e2.id_modulo;
            aux2.codigo_modulo = e2.codigo_modulo;
            aux2.disciplinas = [];
            disciplinas.forEach(function(e3) {
              if (e3.id_trilha == e1.id_trilha && e3.id_modulo == e2.id_modulo) {
                let aux3 = {};
                aux3.id_disciplina = e3.id_disciplina;
                aux3.codigo_disciplina = e3.codigo_disciplina;
                aux3.nome = e3.nome;
                aux3.status = 0;
                aux2.disciplinas.push(aux3);
              }
            });
            aux1.modulos.push(aux2);
          }
        });
        eletivas.push(aux1);
      });
      return eletivas;
    }
  },
  async asyncData({ app }) {
    return {
      disciplinas_obrigatorias: await app.$axios.$get("/rpc/get_obrigatorias"),
      disciplinas_eletivas: await app.$axios.$get("/rpc/get_eletivas"),
      modulos: await app.$axios.$get("/modulos"),
      trilhas: await app.$axios.$get("/trilhas"),
    }
  },
  methods: {
    async seleciona_obrigatoria(id_disciplina) {
      console.log(id_disciplina);
    },
    async seleciona_eletiva(id_trilha, id_modulo, id_disciplina) {
      console.log(id_trilha);
      console.log(id_modulo);
      console.log(id_disciplina);
    }
  }
}
</script>

<style lang="scss">
.planejamento {
  .status_0 {
    color: gray;
  }
  .status_1 {
    color: blue;
  }
  .status_2 {
    color: red;
  }
}
</style>
