<template>
  <div class="administradores_coordenam_grades__edit">
    <h1>Editar administrador coordena grade</h1>
    <label>Administrador</label>
    <p>{{ administrador_coordena_grade.id_pessoa }} - {{ administrador_coordena_grade.nusp_administrador }}</p>
    <label>Ano grade</label>
    <p>{{ administrador_coordena_grade.ano_grade }}</p>
    <br>
    <label>Início</label>
    <input type="text" v-model="administrador_coordena_grade.inicio"/>
    <br>
    <label>Fim</label>
    <input type="text" v-model="administrador_coordena_grade.fim"/>
    <br>
    <button type="submit" @click="edit_administrador_coordena_grade" @submit.prevent>
      Salvar
    </button>
    <nuxt-link to="/administradores_coordenam_grades">
      Voltar
    </nuxt-link>
  </div>
</template>

<script>
export default {
  computed: {
    administrador_coordena_grade: function() {
      return this.administradores_coordenam_grades[0];
    }
  },
  async asyncData(app) {
    return {
      administradores_coordenam_grades: await app.$axios.$get("/administradores_coordenam_grades?id_pessoa=eq."+app.query.id_pessoa+'&nusp_administrador=eq.'+app.query.nusp_administrador+'&ano_grade=eq.'+app.query.ano_grade),
    }
  },
  methods: {
    async edit_administrador_coordena_grade() {
      try {
        let dados = {
          inicio: this.administrador_coordena_grade.inicio
        };
        if (this.administrador_coordena_grade.fim != '') {
          dados.fim = this.administrador_coordena_grade.fim;
        }
        console.log(dados);
        await this.$axios.$patch("/administradores_coordenam_grades?id_pessoa=eq." + this.administrador_coordena_grade.id_pessoa + '&nusp_administrador=eq.' + this.administrador_coordena_grade.nusp_administrador + '&ano_grade=eq.' + this.administrador_coordena_grade.nusp_administrador, dados,
            { headers: { Authorization: 'Bearer ' + this.$store.state.token } }
        );
        this.$router.push("/administradores");
      } catch (err) {
        console.log(err);
      }
    }
  }
}
</script>

<style lang="scss">
.administradores_coordenam_grades__edit {
}
</style>
