<template>
  <div class="administradores_coordenam_grades__index">
    <h1>Administradores coordenam grades</h1>
    <table>
      <thead>
        <tr>
          <th>ID pessoa</th>
          <th>NUSP</th>
          <th>Ano grade</th>
          <th>Início</th>
          <th>Fim</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in administradores_coordenam_grades" :key="item.id_pessoa">
          <td>
            {{ item.id_pessoa }}
          </td>
          <td>
            {{ item.nusp_administrador }}
          </td>
          <td>
            {{ item.ano_grade }}
          </td>
          <td>
            {{ item.data_inicio }}
          </td>
          <td>
            {{ item.data_fim }}
          </td>
          <td>
            <nuxt-link :to="{ path: 'administradores_coordenam_grades/show', query: { id_pessoa: item.id_pessoa, nusp_administrador: item.nusp_administrador, ano_grade: item.ano_grade }}">
              Ver
            </nuxt-link>
            <nuxt-link :to="{ path: 'administradores_coordenam_grades/edit', query: { id_pessoa: item.id_pessoa, nusp_administrador: item.nusp_administrador, ano_grade: item.ano_grade }}">
              Editar
            </nuxt-link>
            <button type="submit" @click="delete_administrador(item.id_pessoa, item.nusp_administrador)" @submit.prevent>
              Remover
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <nuxt-link to="administradores_coordenam_grades/new">
      Adicionar
    </nuxt-link>
  </div>
</template>

<script>
export default {
  async asyncData({ app }) {
    return {
      administradores_coordenam_grades: await app.$axios.$get("/administradores_coordenam_grades"),
    }
  },
  methods: {
    async delete_relacao(id_pessoa, nusp_administrador) {
      try {
        await this.$axios.$delete("/administradores_coordenam_grades?id_pessoa=eq." + id_pessoa + '&nusp_administrador=eq.' + nusp_administrador + '&ano_grade=eq.' + ano_grade,
            { headers: { Authorization: 'Bearer ' + this.$store.state.token } }
        );
        this.administradores_coordenam_grades = await this.$axios.$get("/administradores_coordenam_grades");
      } catch (err) {
        console.log(err);
      }
    }
  }
}
</script>

<style lang="scss">
.administradores_coordenam_grades__index {
}
</style>
