<template>
  <div class="administradores__new">
    <h1>Adicionar relação administrador coordena grade</h1>
    <label>Administrador</label>
    <select type="text" v-model="administrador">
      <option value="">Selecione</option>
      <option v-for="administrador in administradores" :key="administrador.id_pessoa" :value="{id_pessoa: administrador.id_pessoa, nusp_administrador: administrador.nusp_administrador}">
        {{ administrador.id_pessoa }} - {{ administrador.nusp_administrador }}
      </option>
    </select>
    <br>
    <label>Ano grade</label>
    <input type="text" v-model="ano_grade"/>
    <br>
    <label>Início</label>
    <input type="text" v-model="inicio"/>
    <br>
    <label>Fim</label>
    <input type="text" v-model="fim"/>
    <br>
    <button type="submit" @click="new_administrador_coordena_grade" @submit.prevent>
      Salvar
    </button>
    <nuxt-link to="/administradores">
      Voltar
    </nuxt-link>
  </div>
</template>

<script>
export default {
  data() {
    return {
      administrador: '',
      ano_grade: '',
      inicio: '',
      fim: '',
    }
  },
  async asyncData(app) {
    return {
      administradores: await app.$axios.$get("/administradores"),
    }
  },
  methods: {
    async new_administrador_coordena_grade() {
      let dados = {
        id_pessoa: parseInt(this.administrador.id_pessoa),
        nusp_administrador: this.administrador.nusp_administrador,
        ano_grade: this.ano_grade,
        inicio: this.inicio
      };
      if (this.fim != '') {
        dados.fim = this.fim;
      }
      try {
        await this.$axios.$post("/administradores_coordenam_grades", dados,
            { headers: { Authorization: 'Bearer ' + this.$store.state.token } }
        );
        this.$router.push("/administradores_coordenam_grades");
      } catch (err) {
        console.log(err);
      }
    }
  }
}
</script>

<style lang="scss">
.administradores__new {
}
</style>
