<template>
  <div class="administradores_coordenam_grades__show">
    <h1>Administrador coordena grade</h1>
    <label>ID Pessoa</label>
    <p>{{ administrador_coordena_grade.id_pessoa }}</p>
    <br>
    <label>NUSP</label>
    <p>{{ administrador_coordena_grade.nusp_administrador }}</p>
    <br>
    <label>Ano grade</label>
    <p>{{ administrador_coordena_grade.ano_grade }}</p>
    <br>
    <label>Início</label>
    <p>{{ administrador_coordena_grade.inicio }}</p>
    <br>
    <label>Fim</label>
    <p>{{ administrador_coordena_grade.fim }}</p>
    <br>
    <nuxt-link :to="{ path: 'administradores_coordenam_grades/edit', query: { id_pessoa: administrador_coordena_grade.id_pessoa, nusp_administrador: administrador_coordena_grade.nusp_administrador, ano_grade: administrador_coordena_grade.ano_grade }}">
      Editar
    </nuxt-link>
    <button type="submit" @click="delete_administrador(administrador_coordena_grade.id_pessoa, administrador_coordena_grade.nusp_administrador, administrador_coordena_grade.ano_grade)" @submit.prevent>
      Remover
    </button>
    <nuxt-link to="/administradores_coordenam_grades">
      Voltar
    </nuxt-link>
  </div>
</template>

<script>
export default {
  computed: {
    administrador_coordena_grade: function() {
      return this.administradores_coordenam_grades[0];
    }
  },
  async asyncData(app) {
    return {
      administradores_coordenam_grades: await app.$axios.$get("/administradores_coordenam_grades?id_pessoa=eq."+app.query.id_pessoa+'&nusp_administrador=eq.'+app.query.nusp_administrador+'&ano_grade=eq.'+app.query.ano_grade),
    }
  },
  methods: {
    async delete_administrador(id_pessoa, nusp_administrador, ano_grade) {
      try {
        await this.$axios.$delete("/administradores_coordenam_grades?id_pessoa=eq." + id_pessoa + '&nusp_administrador=eq.' + nusp_administrador + '&ano_grade=eq.' + ano_grade,
            { headers: { Authorization: 'Bearer ' + this.$store.state.token } }
        );
        this.$router.push("/administradores_coordenam_grades");
      } catch (err) {
        console.log(err);
      }
    }
  }
}
</script>

<style lang="scss">
.administradores_coordenam_grades__show {
}
</style>
