<template>
  <div class="aside__logout">
    <button type="submit" @click="logout" @submit.prevent>
      Logout
    </button>
  </div>
</template>

<script>
export default {
  methods: {
    async logout() {
      this.$store.commit("setToken", { token: '' });
      this.$store.commit("setEmail", { email: '' });
      this.$router.push("/");
    }
  }
}
</script>

<style lang="scss">
.aside__logout {
}
</style>
