<template>
  <aside class="aside">
    <div v-if="!isAuthenticated">
      <login/>
    </div>
    <div v-else>
      <logout/>
      <hr>
      <nuxt-link to="/administrativo">
        Administrativo
      </nuxt-link>
      <hr>
      <nuxt-link to="/">
        Home
      </nuxt-link>
    </div>
  </aside>
</template>

<script>
import Login from '@/components/Login.vue';
import Logout from '@/components/Logout.vue';

export default {
  components: {
    Login,
    Logout
  },
  computed: {
    isAuthenticated() {
      return this.$store.getters.isAuthenticated;
    }
  },
}
</script>

<style>
.aside {
  /* Grid to position the cell itself */
  grid-area: aside;
  justify-self: stretch;

  /* Flexbox to align the content in the cell */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  /* FIXME: Border to highlight */
  border: 2px solid #eee;
}
</style>
