<template>
  <nav class="navbar">
    <h1>DBZ</h1>
  </nav>
</template>

<style>
.navbar {
  /* Grid to position the cell itself */
  grid-area: navbar;
  place-self: stretch;

  /* Flexbox to align the content in the cell */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* FIXME: Border to highlight */
  border: 2px solid #eee;
}
</style>
