<template>
  <div class="administradores__edit">
    <h1>Editar administrador</h1>
    <label>ID Pessoa</label>
    <p>{{ administrador.id_pessoa }}</p>
    <br>
    <label>NUSP</label>
    <p>{{ administrador.nusp_administrador }}</p>
    <br>
    <label>Data início</label>
    <input type="text" v-model="administrador.data_inicio"/>
    <br>
    <label>Data fim</label>
    <input type="text" v-model="administrador.data_fim"/>
    <br>
    <button type="submit" @click="edit_administrador" @submit.prevent>
      Salvar
    </button>
    <nuxt-link to="/administradores">
      Voltar
    </nuxt-link>
  </div>
</template>

<script>
export default {
  computed: {
    administrador: function() {
      return this.administradores[0];
    }
  },
  async asyncData(app) {
    return {
      administradores: await app.$axios.$get("/administradores?id_pessoa=eq."+app.query.id_pessoa+'&nusp_administrador=eq.'+app.query.nusp_administrador),
    }
  },
  methods: {
    async edit_administrador() {
      try {
        let dados = {
          data_inicio: this.administrador.data_inicio
        };
        if (this.administrador.data_fim != '') {
          dados.data_fim = this.administrador.data_fim;
        }
        console.log(dados);
        await this.$axios.$patch("/administradores?id_pessoa=eq." + this.administrador.id_pessoa + '&nusp_administrador=eq.' + this.administrador.nusp_administrador, dados,
            { headers: { Authorization: 'Bearer ' + this.$store.state.token } }
        );
        this.$router.push("/administradores");
      } catch (err) {
        console.log(err);
      }
    }
  }
}
</script>

<style lang="scss">
.administradores__edit {
}
</style>
