<template>
  <div class="administradores__index">
    <h1>Administradores</h1>
    <table>
      <thead>
        <tr>
          <th>ID pessoa</th>
          <th>NUSP</th>
          <th>Data início</th>
          <th>Data fim</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="administrador in administradores" :key="administrador.id_pessoa">
          <td>
            {{ administrador.id_pessoa }}
          </td>
          <td>
            {{ administrador.nusp_administrador }}
          </td>
          <td>
            {{ administrador.data_inicio }}
          </td>
          <td>
            {{ administrador.data_fim }}
          </td>
          <td>
            <nuxt-link :to="{ path: 'administradores/show', query: { id_pessoa: administrador.id_pessoa, nusp_administrador: administrador.nusp_administrador }}">
              Ver
            </nuxt-link>
            <nuxt-link :to="{ path: 'administradores/edit', query: { id_pessoa: administrador.id_pessoa, nusp_administrador: administrador.nusp_administrador }}">
              Editar
            </nuxt-link>
            <button type="submit" @click="delete_administrador(administrador.id_pessoa, administrador.nusp_administrador)" @submit.prevent>
              Remover
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <nuxt-link to="administradores/new">
      Adicionar
    </nuxt-link>
  </div>
</template>

<script>
export default {
  async asyncData({ app }) {
    return {
      administradores: await app.$axios.$get("/administradores"),
    }
  },
  methods: {
    async delete_administrador(id_pessoa, nusp_administrador) {
      try {
        await this.$axios.$delete("/administradores?id_pessoa=eq." + id_pessoa + '&nusp_administrador=eq.' + nusp_administrador,
            { headers: { Authorization: 'Bearer ' + this.$store.state.token } }
        );
        this.administradores = await this.$axios.$get("/administradores");
      } catch (err) {
        console.log(err);
      }
    }
  }
}
</script>

<style lang="scss">
.administradores__index {
}
</style>
