<template>
  <div class="administradores__new">
    <h1>Adicionar administrador</h1>
    <label>ID Pessoa</label>
    <select type="text" v-model="id_pessoa">
      <option value="">Selecione</option>
      <option v-for="pessoa in pessoas" :key="pessoa.id_pessoa" :value="pessoa.id_pessoa">
        {{ pessoa.id_pessoa }} - {{ pessoa.nome }}
      </option>
    </select>
    <br>
    <label>NUSP</label>
    <input type="text" v-model="nusp_administrador"/>
    <br>
    <label>Data início</label>
    <input type="text" v-model="data_inicio"/>
    <br>
    <label>Data fim</label>
    <input type="text" v-model="data_fim"/>
    <br>
    <button type="submit" @click="new_administrador" @submit.prevent>
      Salvar
    </button>
    <nuxt-link to="/administradores">
      Voltar
    </nuxt-link>
  </div>
</template>

<script>
export default {
  data() {
    return {
      id_pessoa: '',
      nusp_administrador: '',
      data_inicio: '',
      data_fim: '',
    }
  },
  async asyncData(app) {
    return {
      pessoas: await app.$axios.$get("/pessoas"),
    }
  },
  methods: {
    async new_administrador() {
      let dados = {
        id_pessoa: parseInt(this.id_pessoa),
        nusp_administrador: this.nusp_administrador,
        data_inicio: this.data_inicio
      };
      if (this.data_fim != '') {
        dados.data_fim = this.data_fim;
      }
      try {
        await this.$axios.$post("/administradores", dados,
            { headers: { Authorization: 'Bearer ' + this.$store.state.token } }
        );
        this.$router.push("/administradores");
      } catch (err) {
        console.log(err);
      }
    }
  }
}
</script>

<style lang="scss">
.administradores__new {
}
</style>
