<template>
  <div class="administradores__show">
    <h1>administrador</h1>
    <label>ID Pessoa</label>
    <p>{{ administrador.id_pessoa }}</p>
    <br>
    <label>NUSP</label>
    <p>{{ administrador.nusp_administrador }}</p>
    <br>
    <label>Data início</label>
    <p>{{ administrador.data_inicio }}</p>
    <br>
    <label>Data fim</label>
    <p>{{ administrador.data_fim }}</p>
    <br>
    <nuxt-link :to="{ path: 'administradores/edit', query: { id_pessoa: administrador.id_pessoa, nusp_administrador: administrador.nusp_administrador }}">
      Editar
    </nuxt-link>
    <button type="submit" @click="delete_administrador(administrador.id_pessoa, administrador.nusp_administrador)" @submit.prevent>
      Remover
    </button>
    <nuxt-link to="/administradores">
      Voltar
    </nuxt-link>
  </div>
</template>

<script>
export default {
  computed: {
    administrador: function() {
      return this.administradores[0];
    }
  },
  async asyncData(app) {
    return {
      administradores: await app.$axios.$get("/administradores?id_pessoa=eq."+app.query.id_pessoa+'&nusp_administrador=eq.'+app.query.nusp_administrador),
    }
  },
  methods: {
    async delete_administrador(id_pessoa, nusp_administrador) {
      try {
        await this.$axios.$delete("/administradores?id_pessoa=eq." + id_pessoa + '&nusp_administrador=eq.' + nusp_administrador,
            { headers: { Authorization: 'Bearer ' + this.$store.state.token } }
        );
        this.$router.push("/administradores");
      } catch (err) {
        console.log(err);
      }
    }
  }
}
</script>

<style lang="scss">
.administradores__show {
}
</style>
